<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="../css/home.css">
</head>

<body>

	<main class="tshirt-design">
		<div class="option-images">
			<div class="option-image-wrapper">
				</img src="sdfgdf" alt="icecream" class="option-image">
			</div>
			<div class="option-image-wrapper">
				</img src="dfggsf" alt="monster" class="option-image">
			</div>
			<div class="option-image-wrapper">
				</img src="dfggsf" alt="sun" class="option-image">
			</div>
		</div>

		<div class="tshirt">
			<div class="tshirt-wrapper">
				</img src="dfggsf" alt="icecream" class="tshirt-image">
				<div class="tshirt-drob-box" >
				</img src="">
				</div>
			</div>
			<div class="tshirt-clear__button">

			</div>
		</div>
	</main>


	<script src="../js/main.js" defer></script>
</body>

</html>